@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i|Pathway+Gothic+One');

$headline-font:'Pathway Gothic One', sans-serif;
$body-font: 'Cardo', serif;

@mixin typography-specs {
  text-transform: uppercase;
  letter-spacing: -4px;
}

/* to be used:

@include typography-specs;

******************************************
OTHER EXAMPLE:

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }


*/

@mixin headline-font {
  font-family: $headline-font;
}

/* HEADLINES */

h1, h2, h3, h4, h5, h6{
  @include headline-font();
  color: $primary-color;
}

h1{
  font-size: 4em; /* 64px / 16px */
  text-transform: uppercase;
  &.xs{
    font-size: 1.2em;
    //768: 1.4 em
  }
}
h2{
  font-size: 2em;
  margin: 0.67em 0;
}

a{
  text-decoration: none;
}

p{
  font-size: 1em;
  line-height: 26.888px;
  color: $primary-color;
  &.headline{
    font-size: 1.8em;

    line-height: 1.2em;
    //768
    //font-size: 2em;
    //line-height: 1.3em;
  }
}

.italic{
  font-style: italic;
}


/* CALCULATING EMS
target ÷ context = result

example:
24 ÷ 16 = 1.5

explanation: you want 24 px, base is 16 px.
set styling to 1.5 em.

***************************************************

LINE HEIGHT
Multiply your letter size by 1.618 and you will get perfect line height.
*/
