//dark grey
$primary-color: #263238;
//grey
$secondary-color: #37474F;
//light grey
$tertiary-color: #ECEFF1;

$color4: #9aaeb8;
//white
$white: #ffffff;
//teal
$highlight-color: #64FFDA;
//$highlight-color: #473b83;

//red
$error-color: #FF5252;
